@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

p, h1, h2{
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
}

:root{
  --primary: #9BA8D9;
  --secondary: #3B4EA1;
  --success: #E2AB9C;
  --danger: #D17961;
}

.taglia{
  clip-path: polygon(0% 0%, 8% 100%, 92% 100%, 100% 0%);
  width: 75%;
}

.righteous{
  font-family: 'Righteous', cursive;
}

.fonte{
  color: var(--secondary);
  font-family: 'Righteous', cursive;
}

.text-center .fonte:first-child{
  font-size: 1.5em;
}

.text-center .fonte:nth-child(2){
  font-size: 3em;
}

.linea{
  bottom: 10%;
  position: absolute;
  height: 0.12em;
  background-color: var(--danger);
}

.chef{
  background-image: url("./images/chef.jpeg");
  background-size: cover;
  background-position: center 5%;
  width: 100%;
  height: 70vh;
  opacity: 0.6;

  position: absolute;
}

/* ----------------------- */

.skills{
  width: 90%
}

.lato{
  left: 0;
  transform: rotate(-90deg);
  height: 4em /* change it in media query */
}

.gridskill{
  display: grid;
  grid-template-columns: repeat(2, minmax(35%, 50%));
  grid-gap: 25px;
}

/* ------------------- */

.back{
  background-size: cover;
  background-position: center center;
}

.meno{
  overflow-y: scroll;
  height: 45%;
}

.meno::-webkit-scrollbar{
  width: 0;
  height: 0;
}

/* carousel */

.carousel .carousel-indicators .active{
  background-color: var(--danger);
}

.carousel .carousel-indicators button{
  background-color: var(--success);
}

/* footer */

.circleIcon{
  border: solid 2px var(--primary);
  position: absolute;
  border-radius: 100%;

  width: 3.5em;
  height: 3.5em;
}

/* Contact.js */

.pic{
  height: 6.5em;
  width: 6.5em;
  border-radius: 100%;

  background-image: url("./images/chef.jpeg");
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 480px) {
  .meno{
    height: 33%;
  }
}

@media only screen and (min-width: 800px) {

  .taglia{
    width: 50%;
  } 

  .chef{
    background-position: center 27%;
  }

  /* --secondo-- */

  .skills{
    width: 70%;
  }

  .lato{
    left: 8%;
    height: 2em;
  }

  /* --quarto-- */

  .noscroller::-webkit-scrollbar{
    width: 0;
    height: 0;
  }

  /* --quinto-- */

  .meno{
    overflow-y: scroll;
    height: 70%;
  }

  /* --footer-- */
  .circleIcon{
    height: 3em;
    width: 3em;
  }

  .circleIcon + h2{
    font-size: 1.5em;
  }


}